# Ignore contents of results, training and legacy folders
__pycache__
results/*
!results/.gitkeep
!results/*plot*
graham_results/*
!graham_results/*plot*
training/*
!training/.gitkeep
legacy
Datasets
